
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
}
canvas {
  display: block;
  margin: auto;
  margin-top: 10%;
}

footer {
  text-align: right;
  width: 500px;
  position: fixed;
  bottom: 50px;
  right: 25px;
}


#orange img:hover{
  filter: opacity(50%);
}